body {
  background-color: rgba(2, 9, 14, 0.568);
}
.board {
  background-color: grey;
}

.marked {
  color: lavender;
}
.cell {
  height: 20px;
  width: 20px;
  background-color: #c0c0c0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
.gameOver {
  font-size: 40px;
}
.cell:hover {
  transition-delay: 150ms;
  background-color: lightblue;
}

.smiley {
  font-size: 25px;
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  text-align: center;
}
.hints {
  font-size: 30px;
}
.time {
  font-family: fantasy;
  width: 30%;
  background-color: olive;
  margin-right: 5px;
}

.safeClick {
  background-color: brown;
  margin: 5px;
}
.bestTime {
  background-color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.manuallyMine {
  background-color: chocolate;
  margin-right: 5px;
}
.selected {
  background-color: brown;
}
.difficulty {
  background-color: midnightblue;
  margin-right: 5px;
}
.round {
  display: inline-block;
  width: 19%;
  height: 30%;
  text-align: center;
  font-size: 15px;
  letter-spacing: -0.065em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  z-index: 1;
  border-width: 4px;
  border-style: solid;
}
.undo {
  width: 11%;
  height: 8%;
  text-align: center;
  background-color: red;
}
